<% if (errors && errors.length > 0) { %>
    <div class="alert alert-danger">
      <ul>
        <% errors.forEach(error => { %>
          <li><%= error %></li>
        <% }); %>
      </ul>
    </div>
  <% } %>

<div class="container-fluid">

    <h1>List of Jumps</h1>

    <table id="jumpsTable" class="table table-sm table-striped table-bordered table-hover">
        <thead>
        <tr>
            <th onclick="sortTable(0)" style="width: 150px;" >↕ Jump ID</th>
            <th onclick="sortTable(1)">↕ Load ID</th> 
            <th onclick="sortTable(2)">↕ Jumper Name</th>
            <th onclick="sortTable(3)">↕ Takeoff Date</th>
            <th onclick="sortTable(4)">↕ Takeoff Hour</th>
            <th onclick="sortTable(5)">↕ Exit Altitude</th>
            <th onclick="sortTable(6)">↕ Group ID</th>
            <th onclick="sortTable(7)">↕ Notes</th>
        </tr>
        <tr>
            <th><input type="text" class="form-control form-control-sm" onkeyup="filterTable(0)" placeholder="Search"> <button type="button" onclick="clearFilter(0)">Clear</button></th>
            <th><input type="text" class="form-control form-control-sm" onkeyup="filterTable(1)" placeholder="Search"> <button type="button" onclick="clearFilter(1)">Clear</button></th>
            <th><input type="text" class="form-control form-control-sm" onkeyup="filterTable(2)" placeholder="Search"> <button type="button" onclick="clearFilter(2)">Clear</button></th>
            <th><input type="text" class="form-control form-control-sm" onkeyup="filterTable(3)" placeholder="Search"> <button type="button" onclick="clearFilter(3)">Clear</button></th>
            <th><input type="text" class="form-control form-control-sm" onkeyup="filterTable(4)" placeholder="Search"> <button type="button" onclick="clearFilter(4)">Clear</button></th>
            <th><input type="text" class="form-control form-control-sm" onkeyup="filterTable(5)" placeholder="Search"> <button type="button" onclick="clearFilter(5)">Clear</button></th>
            <th><input type="text" class="form-control form-control-sm" onkeyup="filterTable(6)" placeholder="Search"> <button type="button" onclick="clearFilter(6)">Clear</button></th>
            <th><input type="text" class="form-control form-control-sm" onkeyup="filterTable(7)" placeholder="Search"> <button type="button" onclick="clearFilter(7)">Clear</button></th>

        </tr>
        </thead>
        <tbody>
        <% listContent.forEach(jump => { %>
            <tr>
            <td scope="row"><%= jump.jump_id  %></td> 
            <td><%= jump.load_id  %></td>
            <td><%= jump.funjumper_name %></td>
            <td><%= new Date(jump.takeoff_datetime).toLocaleDateString('en-GB', { day: '2-digit', month: '2-digit', year: 'numeric' }) %></td>
            <td><%= new Date(jump.takeoff_datetime).toLocaleTimeString('en-GB', { hour: '2-digit', minute: '2-digit' }) %></td>
            <td><%= jump.height_feet %></td>
            <td><%= jump.group_id %></td>
            <td><%= jump.notes %></td>
            </tr>
        <% }); %>
        </tbody>
    </table>

  </div>

  <script>
    function sortTable(n) {
      var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
      table = document.getElementById("jumpsTable");
      switching = true;
      dir = "asc"; 
      while (switching) {
        switching = false;
        rows = table.rows;
        for (i = 1; i < (rows.length - 1); i++) {
          shouldSwitch = false;
          x = rows[i].getElementsByTagName("TD")[n];
          y = rows[i + 1].getElementsByTagName("TD")[n];
          if (dir == "asc") {
            if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
              shouldSwitch= true;
              break;
            }
          } else if (dir == "desc") {
            if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
              shouldSwitch= true;
              break;
            }
          }
        }
        if (shouldSwitch) {
          rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
          switching = true;
          switchcount ++;
        } else {
          if (switchcount == 0 && dir == "asc") {
            dir = "desc";
            switching = true;
          }
        }
      }
    }

    function filterTable(n) {
        var input, filter, table, tr, td, i, txtValue;
        input = document.getElementsByTagName('input')[n]; 
        filter = input.value.toUpperCase();
        table = document.getElementById("jumpsTable");
        tr = table.getElementsByTagName("tr");
        for (i = 0; i < tr.length; i++) {
          td = tr[i].getElementsByTagName("td")[n]; 
          if (td) {
            txtValue = td.textContent || td.innerText;
            if (txtValue.toUpperCase().indexOf(filter) > -1) {
              tr[i].style.display = "";
            } else {
              tr[i].style.display = "none";
            }
          }       
        }
      }

      function clearFilter(n) {
        var input = document.getElementsByTagName('input')[n];
        input.value = ""; // Clear the input field
        filterTable(n); // Re-filter the table with empty search term
      }
  </script>