<% if (errors && errors.length > 0) { %>
    <div class="alert alert-danger">
      <ul>
        <% errors.forEach(error => { %>
          <li><%= error %></li>
        <% }); %>
      </ul>
    </div>
  <% } %>

<div class= "container-fluid table-responsive">

    <h1>List of Instructors</h1>

    <table id="instructorTable" class="table table-sm table-striped table-bordered table-hover">
        <thead>
        <tr>
            <th onclick="sortTable(0)">↕ Instructor ID</th>
            <th onclick="sortTable(1)">↕ Full Name</th> 
            <th onclick="sortTable(2)">↕ Date of Birth</th> 
            <th onclick="sortTable(3)">↕ Phone Number</th> 
            <th onclick="sortTable(4)">↕ Tandem Balance Jumps</th> 
            <th onclick="sortTable(5)">↕ Tandem Photos</th>
            <th onclick="sortTable(6)">↕ Tandem Videos</th>
            <th onclick="sortTable(7)">↕ Tandem Rating</th> 
            <th onclick="sortTable(8)">↕ Tandem Camera Rating</th> 
            <th onclick="sortTable(9)">↕ License Number</th> 
            <th onclick="sortTable(10)">↕ License Expiration Date</th> 
            <th onclick="sortTable(11)">↕ Insurance Expiration Date</th> 
            <th onclick="sortTable(12)">↕ Civil ID Expiration Date</th> 
            <th onclick="sortTable(13)">↕ Emergency Contact Name</th> 
            <th onclick="sortTable(14)">↕ Emergency Contact Relation</th> 
            <th onclick="sortTable(15)">↕ Emergency Contact Phone</th> 
        </tr>
        <tr>
            <th><input type="text" class="form-control form-control-sm" onkeyup="filterTable(0)" placeholder="Search"> <button type="button" onclick="clearFilter(0)">Clear</button></th>
            <th><input type="text" class="form-control form-control-sm" onkeyup="filterTable(1)" placeholder="Search"> <button type="button" onclick="clearFilter(1)">Clear</button></th>
            <th><input type="text" class="form-control form-control-sm" onkeyup="filterTable(2)" placeholder="Search"> <button type="button" onclick="clearFilter(2)">Clear</button></th>
            <th><input type="text" class="form-control form-control-sm" onkeyup="filterTable(3)" placeholder="Search"> <button type="button" onclick="clearFilter(3)">Clear</button></th>
            <th><input type="text" class="form-control form-control-sm" onkeyup="filterTable(4)" placeholder="Search"> <button type="button" onclick="clearFilter(4)">Clear</button></th>
            <th><input type="text" class="form-control form-control-sm" onkeyup="filterTable(5)" placeholder="Search"> <button type="button" onclick="clearFilter(5)">Clear</button></th>
            <th><input type="text" class="form-control form-control-sm" onkeyup="filterTable(6)" placeholder="Search"> <button type="button" onclick="clearFilter(6)">Clear</button></th>
            <th><input type="text" class="form-control form-control-sm" onkeyup="filterTable(7)" placeholder="Search"> <button type="button" onclick="clearFilter(7)">Clear</button></th>
            <th><input type="text" class="form-control form-control-sm" onkeyup="filterTable(8)" placeholder="Search"> <button type="button" onclick="clearFilter(8)">Clear</button></th>
            <th><input type="text" class="form-control form-control-sm" onkeyup="filterTable(9)" placeholder="Search"> <button type="button" onclick="clearFilter(9)">Clear</button></th>
            <th><input type="text" class="form-control form-control-sm" onkeyup="filterTable(10)" placeholder="Search"> <button type="button" onclick="clearFilter(10)">Clear</button></th>
            <th><input type="text" class="form-control form-control-sm" onkeyup="filterTable(11)" placeholder="Search"> <button type="button" onclick="clearFilter(11)">Clear</button></th>
            <th><input type="text" class="form-control form-control-sm" onkeyup="filterTable(12)" placeholder="Search"> <button type="button" onclick="clearFilter(12)">Clear</button></th>
            <th><input type="text" class="form-control form-control-sm" onkeyup="filterTable(13)" placeholder="Search"> <button type="button" onclick="clearFilter(13)">Clear</button></th>
            <th><input type="text" class="form-control form-control-sm" onkeyup="filterTable(13)" placeholder="Search"> <button type="button" onclick="clearFilter(14)">Clear</button></th>
            <th><input type="text" class="form-control form-control-sm" onkeyup="filterTable(13)" placeholder="Search"> <button type="button" onclick="clearFilter(15)">Clear</button></th>
        </tr>
        </thead>
        <tbody>
        <% listContent.forEach(Instructor => { %>
            <tr>
            <td scope="row"><%= Instructor.tandem_instructor_id %></td> 
            <td><%= Instructor.first_name %> <%= Instructor.middle_names %> <%= Instructor.last_name %></td> 
            <td><%= new Date(Instructor.date_of_birth).toLocaleDateString('en-GB', { day: '2-digit', month: '2-digit', year: 'numeric' }) %></td> 
            <td><%= Instructor.phone_number %></td> 
            <td><%= Instructor.jump_balance %></td> 
            <td><%= Instructor.photos_balance %></td> 
            <td><%= Instructor.videos_balance %></td> 
            <td><%= Instructor.tandem_rating === "1" ? 'Yes' : 'No' %></td>
            <td><%= Instructor.camera_rating === "1" ? 'Yes' : 'No' %></td>
            <td><%= Instructor.license_number %></td> 
            <td><%= new Date(Instructor.license_expire).toLocaleDateString('en-GB', { day: '2-digit', month: '2-digit', year: 'numeric' }) %></td> 
            <td><%= new Date(Instructor.insurance_expire).toLocaleDateString('en-GB', { day: '2-digit', month: '2-digit', year: 'numeric' }) %></td> 
            <td><%= new Date(Instructor.civil_id_expires).toLocaleDateString('en-GB', { day: '2-digit', month: '2-digit', year: 'numeric' }) %></td> 
            <td><%= Instructor.emergency_contact_name %></td> 
            <td><%= Instructor.emergency_contact_relation %></td> 
            <td><%= Instructor.emergency_contact_phone %></td> 
            </tr>
        <% }); %>
        </tbody>
    </table>

  </div>

  <script>
    function sortTable(n) {
      var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
      table = document.getElementById("instructorTable");
      switching = true;
      dir = "asc"; 
      while (switching) {
        switching = false;
        rows = table.rows;
        for (i = 1; i < (rows.length - 1); i++) {
          shouldSwitch = false;
          x = rows[i].getElementsByTagName("TD")[n];
          y = rows[i + 1].getElementsByTagName("TD")[n];
          if (dir == "asc") {
            if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
              shouldSwitch= true;
              break;
            }
          } else if (dir == "desc") {
            if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
              shouldSwitch= true;
              break;
            }
          }
        }
        if (shouldSwitch) {
          rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
          switching = true;
          switchcount ++;
        } else {
          if (switchcount == 0 && dir == "asc") {
            dir = "desc";
            switching = true;
          }
        }
      }
    }

    function filterTable(n) {
        var input, filter, table, tr, td, i, txtValue;
        input = document.getElementsByTagName('input')[n]; 
        filter = input.value.toUpperCase();
        table = document.getElementById("instructorTable");
        tr = table.getElementsByTagName("tr");
        for (i = 0; i < tr.length; i++) {
          td = tr[i].getElementsByTagName("td")[n]; 
          if (td) {
            txtValue = td.textContent || td.innerText;
            if (txtValue.toUpperCase().indexOf(filter) > -1) {
              tr[i].style.display = "";
            } else {
              tr[i].style.display = "none";
            }
          }       
        }
      }

      function clearFilter(n) {
        var input = document.getElementsByTagName('input')[n];
        input.value = ""; // Clear the input field
        filterTable(n); // Re-filter the table with empty search term
      }
  </script>